{% load i18n %}

{% block content %}

	<div class="row col-lg-12">
        <h1 class="page-header" id="gallery-header" data-id="{{ gallery.id }}">{{ gallery.title }}</h1>
        <p class="muted"><small>{% trans "Published" %} {{ gallery.date_added }}</small></p>        
        {% if gallery.description %}{{ gallery.description|safe }}{% endif %}
       	 <div class='images-holder'>
		    {% for photo in gallery.public %}
			<a href="{{ photo.get_absolute_url }}">
				<img src="{{ photo.get_thumbnail_url }}" class="thumbnail" alt="{{ photo.title }}">
			</a>
		    {% endfor %}
	    	</div>
		<div class="btn-group btn-group-justified" role="group" aria-label="Inner gallery navigation">
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-default" data-toggle="modal" data-target=".add-photo-modal"> {% trans "Add a photo" %}</button>
			</div>
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-default" data-toggle="modal" data-target=".remove-gallery-modal"> {% trans "Delete gallery" %}</button>
			</div>
			<div class="btn-group" role="group">
				<a id="galleries-redirect-button" href="{% url 'photologue:pl-gallery-archive' %}" class="btn btn-default">
					{% trans "View all galleries" %}
				</a>
			</div>
		</div>
	</div>

	<div class="modal fade add-photo-modal" tabindex="-1" role="dialog" aria-labelledby="Add Photo" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">×</span>
						<span class="sr-only">{% trans "Close" %}</span>
					</button>
					<h4 class="modal-title"> {% trans "Add photo"  %} </h4>
				</div>
				<form target="iframe" role="form" method="post" id="photo-creation-form" action="create_photo/" autocomplete="off" enctype="multipart/form-data">
					<div class="modal-body">
						<div id="photo-creation-messages-widget-container"></div>
						{{ photo_creation_form }}
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
						<input id="create-photo-button" type="submit" class="btn btn-success" value="{% trans 'Create' %}"></input>
					</div>
				</form>

				<iframe name="iframe" id="iframe" style="display:none" ></iframe>
			</div> <!-- /.modal-content -->
		</div> <!-- /.modal-dialog -->
	</div> <!-- /.modal -->

	<div class="modal fade remove-gallery-modal" tabindex="-1" role="dialog" aria-labelledby="Remove Gallery" aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">×</span>
							<span class="sr-only">{% trans "Close" %}</span>
						</button>
						<h4 class="modal-title"> {% trans "Remove" %} {{ gallery.title }} </h4>
					</div>
					<form target="iframe" role="form" action="remove_gallery/{{gallery.id}}/" method="post" id="gallery-removal-form" autocomplete="off">
						<div class="modal-body">
							<div id="gallery-removal-messages-widget-container"></div>
							{{ gallery_removal_form }}
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
							<input type="submit" class="btn btn-danger" value="{% trans 'Remove' %}"></input>
						</div>
					</form>
				</div> <!-- /.modal-content -->
			</div> <!-- /.modal-dialog -->
		</div> <!-- /.modal -->

{% endblock %}

