{% load i18n %}

{% block content %}

    <div class="row col-lg-12">
        <h1 class="page-header">{% trans "Latest photo galleries" %}</h1>
    </div>

	<div class="row">
	
		<aside class="col-md-2">

			<h4>{% trans "Filter by year" %}</h4>
			<ul>
			{% for date in date_list %}
				<li><a href="{% url 'photologue:pl-gallery-archive-year' date.year %}">{{ date|date:"Y" }}</a></li>
			{% endfor %}
			</ul>

		</aside>

		<main class="col-md-10">
			
			{% if latest %}
			    {% for gallery in latest %}
            {% if gallery.galleries.first.user == request.user %}
							{% include "photologue/includes/gallery_sample.html" %}
            {% endif %}
			    {% endfor %}
			{% else %}
			    <p>{% trans "No galleries were found" %}.</p>
			{% endif %}
			
		</main>

	</div>
	
{% endblock %}
