{% load photologue_tags i18n %}

{% block content %}

		<div class="row col-lg-12">
				<h1 class="page-header">{{ object.title }}</h1>
				<p class="muted"><small>{% trans "Published" %} {{ object.date_added }}</small></p>
		</div>

		<div class="row">
			<div class="col-md-6">
				{% if object.caption %}<p>{{ object.caption|safe }}</p>{% endif %}
				<a href="{{ object.image.url }}" target="_blank">
					<img src="{{ object.get_display_url }}" class="thumbnail" alt="{{ object.title }}">
				</a>
			</div>
			<div class="col-md-6">
				{% if object.public_galleries %}
					<table class="col-md-12">
						{% for gallery in object.public_galleries %}
							{% if gallery.photos.count > 1 %}			
								<th colspan="2" style="text-align: center;"> {% trans "Adjacent gallery images:" %}</th>
								<tr class="adjacent-galleries-holder">
									<td>{% previous_in_gallery object gallery %}</td>
									<td>{% next_in_gallery object gallery %}</td>
								</tr>
							{% endif %}
						{% endfor %}
					</table>
				{% endif %}

				<div class="btn-group btn-group-justified" role="group" aria-label="Inner gallery navigation">
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-default" data-toggle="modal" data-target=".remove-photo-modal"> {% trans "Remove photo" %} </button>
					</div>
					<div class="btn-group" role="group">
						<a id="gallery-redirect-button" href="#/gallery/{{ object.public_galleries.first.slug }}" class="btn btn-default">
							{% trans "View gallery" %}
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade remove-photo-modal" tabindex="-1" role="dialog" aria-labelledby="Remove Photo" aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">×</span>
							<span class="sr-only">{% trans "Close" %}</span>
						</button>
						<h4 class="modal-title"> {% trans "Remove" %} {{ object.title }} </h4>
					</div>
					<form target="iframe" role="form" action="remove_photo/{{object.id}}/" method="post" id="photo-removal-form" autocomplete="off">
						<div class="modal-body">
							<div id="photo-removal-messages-widget-container"></div>
							{{ form }}
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
							<input type="submit" class="btn btn-danger" value="{% trans 'Remove' %}"></input>
						</div>
					</form>
				</div> <!-- /.modal-content -->
			</div> <!-- /.modal-dialog -->
		</div> <!-- /.modal -->

{% endblock %}
