.navbar-nav li a:hover, .navbar-nav li a:focus
{
	background: transparent;
}

ul.dropdown-menu {
	background: $main;

	> li 
	{
		> a {	
			color: $secondary1;
			background: $main;
		}
	}
}

ul.dropdown-menu > li 
{
	> a:hover, > a:focus
	{
		color: $secondary2;
		background: $main;
	}
}

.navbar-fixed-top {
	background-color: $main;
	border-color: $secondary1;
	border: 0;
	padding-left: 2%;
	padding-right: 2%;

	.navbar-brand {
		color: $secondary1;
		&:hover { 
			color: $secondary2; }
		&:focus { 
			color: $secondary1; }}
	.navbar-text {
		color: $secondary1; }
	.navbar-nav {
		> li {
			> a {
				-webkit-transition: color 0.5s; /* For Safari 3.1 to 6.0 */
				transition: color 0.5s;
				color: $secondary1;
				&:hover {
					color: $secondary2; }}}
		> .active {
			> a:hover {
				color: $secondary2; }
			> a, > a:focus {
				color: $main;
				background-color: $secondary1; }}
		> .open {
			> a, > a:hover, > a:focus {
				color: $main;
				background: $secondary1; }}}
	.navbar-toggle {
		border-color: $secondary1;	
		&:hover, &:focus {
			background-color: $secondary1; }
		.icon-bar {
			background-color: $secondary1; }}
	.navbar-collapse,
	.navbar-form {	
		border-color: $secondary1; }
	.navbar-link {
		color: $secondary1;
		&:hover {
			color: $secondary2; }}}
@media (max-width: 767px) {
	.navbar-fixed-top .navbar-nav .open .dropdown-menu {
		> li > a {
			color: $secondary1;
			&:hover, &:focus {
				color: $secondary2; }}
		> .active {
			> a, > a:hover, > a:focus, {
				color: $secondary2;
				background-color: $secondary1; }}}
}
