.events-container
{
	padding-bottom: 60px;
	position: relative;

	#events-wrapper
	{
		.pages-wrapper
		{
			width: 100%;
			position: absolute;
			bottom: 0;
			
			a
			{
				color: $main;
			}
			
			a:hover
			{
				color: $main;
			}

			li.active > a
			{
				background: $main;
				color: $secondary1;
			}
		}
	}

	.event-detail-modal
	{
		#select-gallery
		{
			width: 200px;
		}

		#select-cover-photo
		{
			width: 170px;
		}	

		#event-description-editable
		{
			@media only screen and (max-width: 450px)
			{
				width: 150px !important;
			}
		}
	}

}
