/*    --------------------------------------------------
	:: Form Section
-------------------------------------------------- */
#login {
	padding-top: 40px
}	
#login .form-wrap {
	width: 300px;
	margin: 0 auto;
	
}
#login h1 {
	color: $main;
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	padding-bottom: 20px;
}
#login .form-group {
	margin-bottom: 25px;
}
#login .checkbox {
	margin-bottom: 20px;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
#login .checkbox.show:before {
	content: '\f06e';
	color: $main;
	font-size: 17px;
	margin: 1px 0 0 4px;
	position: absolute;
	pointer-events: none;
	font-family: 'Font Awesome';
}
#login .checkbox .character-checkbox {
	width: 25px;
	height: 25px;
	cursor: pointer;
	border-radius: 3px;
	border: 1px solid #ccc;
	vertical-align: middle;
	display: inline-block;
}
#login .checkbox .label {
	color: #6d6d6d;
	font-size: 13px;
	font-weight: normal;
}
#login .btn.btn-custom {
	font-size: 14px;
	margin-bottom: 20px;
}
#login .forget {
	color: $main;
	font-size: 13px;
	text-align: center;
	display: block;
}

/*    --------------------------------------------------
:: Inputs & Buttons
-------------------------------------------------- */
.form-control {
	color: #212121;
}
.btn-custom {
	color: #fff;
	background-color: $main;
}
.btn-custom:hover,
.btn-custom:focus {
	color: #fff;
}
