#root
{
	.adjacent-galleries-holder
	{
		td
		{
			img
			{
				margin: 0 auto;
				margin-bottom: 20px;
			}
		}
	}

	.images-holder
	{
		overflow:hidden;
		height:1%;

		> a, > img, > li
		{
			float: left;
			margin-right: 20px;
		}
	}
}