@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 100;
	src: local('Lato Hairline'), 
		local('Lato-Hairline'),
		url(../../fonts/lato/lato-hairline.woff2) format('woff2'),
		url(../../fonts/lato/lato-hairline.woff) format('woff');
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	src: local('Lato Light'), 
		local('Lato-Light'), 
		url(../../fonts/lato/lato-light.woff2) format('woff2'),
		url(../../fonts/lato/lato-light.woff) format('woff');
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: local('Lato Regular'), 
		local('Lato-Regular'), 
		url(../../fonts/lato/lato-regular.woff2) format('woff2'),
		url(../../fonts/lato/lato-regular.woff) format('woff');
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src: local('Lato Bold'),
		local('Lato-Bold'),
		url(../../fonts/lato/lato-bold.woff2) format('woff2'),
		url(../../fonts/lato/lato-bold.woff) format('woff');
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 900;
	src: local('Lato Black'), 
		local('Lato-Black'),
		url(../../fonts/lato/lato-black.woff2) format('woff2'),
		url(../../fonts/lato/lato-black.woff) format('woff');
}
@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 400;
	src: local('Lato Italic'), 
		local('Lato-Italic'),
		url(../../fonts/lato/lato-italic.woff2) format('woff2'),
		url(../../fonts/lato/lato-italic.woff) format('woff');
}

@font-face {
	font-family: "Font Awesome";
	src: url("../../fonts/font-awesome/fonts/fontawesome-webfont.ttf");
}

*
{
	margin: 0;
	padding: 0;
}

footer
{
	background: $main;
	color: $secondary1;
}

body
{
	padding-top: 70px;
	font-family: 'Lato', sans-serif;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner
{
	padding: 0px 2px 0px 2px; border: 1px dotted transparent;
}

a, a:active, a:focus, a:hover, a:visited, button:focus, button:active
{
	text-decoration: none;
	outline:  none !important;
	ie-dummy: expression(this.hideFocus=true);
	background: none;
}
