#help-wrapper
{
	nav
	{
		position: relative;
		
		h4
		{
			text-align: center;
			height: 60px;
			width: 220px;
			line-height: 4;
			color: $main;
		}
		
		ul
		{
			font-size: 0.5em;
			margin: 0;
			margin-top: 30px;
			margin-left: 10px;
			margin-right: 10px;
			
			li
			{
				width: 100%;
				height: 40px;
				margin-bottom: 20px;
				line-height: 40px;
				text-align: center;
				font-size: 1.7em;
				
				a
				{
					-webkit-transition: color 0.5s; /* For Safari 3.1 to 6.0 */
					transition: color 0.5s;
					width: 100%;
					height: 100%;
			 		display: block;
			 		color: $secondary1;
			 		background: $main;
				}
				a:hover{color: $secondary2;}
			}
		}
	}

	.got-fixed
	{
		position: fixed;
		top: 40px;
	}


	div.article-wrappers
	{
		margin-top: 50px;
		line-height: 1.5;
		padding-top: 25px;
		padding-bottom: 25px;
		background: $secondary1;

		a
		{
			-webkit-transition: color 0.5s; /* For Safari 3.1 to 6.0 */
			transition: color 0.5s;
			color: $secondary2
		}
		
		a:hover{color: $main;}
		
		h2
		{
			margin-left: 30px;
			line-height: 1.3;
		}
		
		ol
		{
			font-size: 1.1em;
			margin-top: 10px;
			margin-bottom: 10px;
			margin-left: 60px;
			line-height: 1.5;
		}
		
		p
		{
			font-size: 1.1em;
			margin-top: 1.5em;
		}
		
		article
		{
			margin-right: 50px;
			margin-left: 50px;
			margin-top: 50px;
		}
	}

	div#intro{margin-top: 25px;}
}

@media only screen and (max-width: 10000px)
{	
	#help-wrapper
	{
		nav
		{
			margin-right: 5%;
			width: 220px;
			float: right;
			
			ul
			{
				height: 250px;
				width: 200px;
			}
		}
		
		.got-fixed{right: 0%;}
		
		.article-wrappers
		{
			width: 70%;
		}
	}
}

@media only screen and (max-width: 940px)
{
	#help-wrapper
	{
		nav{margin-right: 2%;}
	}
}

@media only screen and (max-width: 890px)
{
	#help-wrapper
	{
		nav{display: none;}
		.article-wrappers{width: 100%;}
	}
}