#organisator-profile-wrapper
{
    #info-wrapper
    {
        margin-bottom: 15px;
    }

    .profile 
    {
        min-height: 355px;
        display: inline-block;
    }

    figcaption.ratings
    {
        margin-top:20px;
    }

    figcaption.ratings a
    {
        color:$secondary2;
        font-size:11px;
    }

    figcaption.ratings a:hover
    {
        color:$main;
        text-decoration:none;
    }

    .divider 
    {
        border-top:1px solid rgba(0,0,0,0.1);
    }

    .emphasis 
    {
        border-top: 4px solid transparent;
    }

    .emphasis:hover 
    {
        border-top: 4px solid $secondary2;
    }

    .emphasis h2
    {
        margin-bottom:0;
    }

    span.tags 
    {
        background: $secondary2;
        border-radius: 2px;
        color: $secondary1;
        font-weight: bold;
        padding: 2px 4px;
    }

    .dropdown-menu 
    {
        background-color: $main;    
        box-shadow: none;
        -webkit-box-shadow: none;
        width: 250px;
        margin-left: -125px;
        left: 50%;
    }

    .dropdown-menu .divider 
    {
        background:none;    
    }

    .dropup .dropdown-menu 
    {
        margin-bottom:10px;
    }

    .dropup .dropdown-menu:before 
    {
        content: "";
        border-top: 10px solid $main;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
        position: absolute;
        bottom: -10px;
        left: 50%;
        margin-left: -10px;
        z-index: 10;
    }
}