{% load i18n %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    {% trans "Oops!" %}</h1>
                <h2>
                    404 {% trans "Not Found" %}</h2>
                <div class="error-details">
                    {% trans "Sorry, an error has occured, Requested page not found!" %}
                </div>
                <div class="error-actions">
                    <a href="http://www.jquery2dotnet.com" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                        {% trans Take Me Home %}</a><a href="http://www.jquery2dotnet.com" class="btn btn-default btn-lg">
                </div>
            </div>
        </div>
    </div>
</div>
