{% load i18n %}
{% load staticfiles %}
{% load compress %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app="EP"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" ng-app="EP"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" ng-app="EP"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="EP"> <!--<![endif]-->
    <head>
			<meta charset="utf-8"/>
			<meta http-equiv="X-UA-Compatible" content="IE=edge" />
			<title> eventprowl | {% trans "find the action" %} </title>
			<meta name="description" content="" />
			<meta name="viewport" content="width=device-width, initial-scale=1" />
	
			<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
			<link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

			{% compress css %}
				<link rel="stylesheet" type="text/x-scss" href="{% static 'css/eventprowl.scss' %}">
				<link rel="stylesheet" type="text/x-scss" href="{% static 'fonts/font-awesome/scss/font-awesome.scss' %}">
				<link rel="stylesheet" type="text/css" href="{% static 'datetimepicker/jquery.datetimepicker.css' %}"/ >
				<link rel="stylesheet" type="text/css" href="{% static 'js/vendor/chosen/chosen.css' %}"/ >
			{% endcompress %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
     	{% block content %}{% endblock %}
        
			<script type="text/javascript" src="{% static 'js/vendor/jquery/jquery.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/vendor/angular/angular.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/controllers/MainController.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/controllers/HelpController.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/controllers/SignupController.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/controllers/LoginController.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/controllers/ProfileController.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/controllers/GalleriesController.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/controllers/ListMessages.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/controllers/EventShortTemplateController.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/controllers/EventsViewController.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/routes.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/directives.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/eventprowl.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/vendor/angular/angular-route.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/vendor/angular/angular-ui-router.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/vendor/angular/angular-cookies.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/vendor/jquery/jquery-cookie.js' %}"></script>
			<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
			<!--[if lt IE 9]>
				<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
				<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
			<![endif]-->
			<!-- <script type="text/javascript" src="{% static 'js/vendor/xbc/obj-watch-shim.js' %}"></script> -->
			<script type="text/javascript" src="{% static 'js/vendor/jquery/jquery.special-watch.js' %}"></script>
			<script type="text/javascript" src="{% static 'datetimepicker/jquery.datetimepicker.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/vendor/jquery/jquery.waituntilexists.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/vendor/jquery/jquery.serializeobject.js' %}"></script>
			<script type="text/javascript" src="{% static 'bootstrap/javascripts/bootstrap.js' %}"></script>
			<script type="text/javascript" src="{% static 'bootstrap/javascripts/ie10-viewport-bug-workaround.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/vendor/angular/angular-bootstrap-ui.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/vendor/hashchange.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/vendor/moment.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/vendor/q/q.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/vendor/jquery/jquery.form.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/vendor/chosen/chosen.jquery.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/vendor/jquery/actual/jquery.actual.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/utils/events-view-utils.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/utils/profile-handlers.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/utils/elem-utils.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/utils/object-utils.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/utils/bool-utils.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/utils/text-utils.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/utils/visual-utils.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/utils/request-utils.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/utils/listeners.js' %}"></script>
    </body>
</html>
