<time class="event-time-holder" datetime="{$ event.start_date $}" datetime-holder>
	<span class="day"></span>
	<span class="month"></span>
	<span class="year"></span>
	<span class="time"></span>
</time>
<img class="thumbnail event-cover-photo" src="" alt="">
<div class="info">
	<h2 class="title"> {$ event.title $} </h2>
	<p class="desc"> {$ event.description $} </p>
	<ul>
		<li style="width:33%;" data-title="{$ event.title $}" observe-event-button> {$ event.observers $} <span class="fa fa-eye" alt="Observe"></span></li>
		<li style="width:34%;" event-organisator-button>{$ event.organisator $}<span class="fa fa-home" alt="Event organisator"></span></li>
		<li style="width:33%;" data-title="{$ event.title $}" event-removal-button> <span class="fa fa-remove" alt="Remove"></span></li>
	</ul>
</div>

<div class="social">
	<ul>
		<li class="facebook share-event" style="width:33%;"><a href="javascript:void(0);"><span class="fa fa-facebook"></span></a></li>
		<li class="twitter share-event" style="width:34%;"><a href="javascript:void(0);"><span class="fa fa-twitter"></span></a></li>
		<li class="google-plus share-event" style="width:33%;"><a href="javascript:void(0);"><span class="fa fa-google-plus"></span></a></li>
	</ul>
</div>
