{% load i18n %}

<div id="events-wrapper" ng-if="hasEvents()">
	<div class=" main-content row">
		<div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
			<ul class="event-list">
		  		<li class="event-element" ng-repeat="event in currentPageEvents" \
						ng-include="eventShortTemplateUrl"  ng-controller="EventShortTemplateController" \
						short-event-holder>
					</li>
			</ul>
		</div>
	</div>
	<nav class="pages-wrapper text-center">
		<pagination total-items="numPages() * numPerPage" items-per-page="numPerPage"
	      ng-model="data.currentPage" max-size="maxSize" boundary-links="true"
	      previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
	  </pagination>
	</nav>
</div>
<div class="text-center" ng-if="!hasEvents()">
	<h3> {% trans "There are no events in this section yet." %} </h3>
</div>

<div class="modal fade share-event-modal" tabindex="-1" role="dialog" aria-labelledby="Share Event" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">×</span>
					<span class="sr-only"> {% trans "Close" %}</span>
				</button>
				<h4 class="modal-title"> {% trans "Share" %} </h4>
			</div>
				<div class="modal-body">
					<div class="panel panel-default">
						<div class="panel-heading">
							{% trans "Copy the following link to share this event with your friends:" %}
						</div>
						<div class="panel-body">
								<a id="share-modal-url-container" href="" target="_blank"> </a>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
				</div>
			</form>
		</div> <!-- /.modal-content -->
	</div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->

<div class="modal fade remove-event-modal" tabindex="-1" role="dialog" aria-labelledby="Remove Event" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">×</span>
					<span class="sr-only"> {% trans "Close" %}</span>
				</button>
				<h4 class="modal-title"> {% trans "Remove" %} </h4>
			</div>
			<form role="form" method="post" id="event-removal-form" autocomplete="off">
				<div class="modal-body">
					<div id="event-removal-messages-widget-container"></div>
					{{ password_form }}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
					<input type="submit" class="btn btn-danger" value="{% trans 'Remove' %}"></input>
				</div>
			</form>
		</div> <!-- /.modal-content -->
	</div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->

<div class="modal fade event-detail-modal" tabindex="-1" role="dialog" aria-labelledby="Event Detail" aria-hidden="true">
	<div class="modal-dialog modal-xs-12">
		<div class="modal-content">
			<form id="event-detail-form" role="form" method="post" action="update_event_details/">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">×</span>
						<span class="sr-only">{% trans "Close" %}</span>
					</button>
					<h4 class="modal-title" non-editable-detail> </h4>
					{{ event_detail_form.title }}
				</div>
				<div class="modal-body">
					<div id="event-detail-messages-widget-container"></div>
					<div id="modal-body-content">
						<div id="event-info">
							<div class='row'>
								<div class='col-xs-6' id='cover-photo-section'>
									<div id='event-cover-photo'>
										<a href="{$ coverPhoto.absolute_url $}" target="_blank">
											<img id='event-detail-cover-photo' src="{$ coverPhoto.thumbnail_url $}" \
												class="thumbnail" alt="{$ coverPhoto.title $}">
										</a>
										<div class='text' organisator-profile-specific>
											{% trans "Select another photo" %}
										</div>
									</div>
									<div id='no-cover-photo-fallback' organisator-profile-specific>
										<div class='text-danger'>
											{% trans "You have not selected any cover photo yet" %}
										</div>
									</div>
									<div id='select-section' organisator-profile-specific>
										{{ event_detail_form.cover_photo }}
									</div>
								</div>
								<div class='col-xs-6 panel' id='event-description-section'>
									<div class="panel-heading"> {% trans "Description" %} </div>
									<div class='panel-body' id="event-description-non-editable" \
										non-editable-detail>
									</div>
									{{ event_detail_form.description }}
								</div>
							</div>
							<div class='row'>
								<div class='col-xs-12 panel' id='event-timing-section'>
									<div class="panel-heading"> {% trans "Timing" %} </div>
									<div class="panel-body">
										<div class='row'>
											<div class="col-xs-6"> {% trans "Start date" %} </div>
											<div class="col-xs-6"> {% trans "End date" %} </div>
										</div>
										<div class='row'>
											<div>
												<div class="col-xs-6" id="event-start-date-non-editable" \
													non-editable-detail>
												</div>
												{{ event_detail_form.start_date }}
											</div>
											<div>
												<div class="col-xs-6" id="event-end-date-non-editable" \
													non-editable-detail>
												</div>
												{{ event_detail_form.end_date }}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="event-gallery-section">
							<div id='event-gallery'>
								<div id='gallery-content'>
									<ul class="images-holder">
										<li ng-repeat="photo in gallery.photos">
											<a href="{$ photo.absolute_url $}" target="_blank" style="text-align:center;">
												<img src="{$ photo.thumbnail_url $}" class="thumbnail" alt="{$ photo.title $}">
												<h5> {$ photo.title $} </h5>
											</a>
										</li>
									</ul>
								</div>
								<div class='text' organisator-profile-specific>
									{% trans "Select another gallery" %}
								</div>
							</div>
							<div id='no-gallery-fallback' organisator-profile-specific>
								<div class='text-danger'>
									{% trans "You have not reffered any galleries to this event yet" %}
								</div>
							</div>
							<div organisator-profile-specific>
								{{ event_detail_form.gallery }}
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
					<input class="btn btn-success" type="submit" value="{% trans 'Save' %}" organisator-profile-specific/>
				</div>
			</form>
		</div> <!-- /.modal-content -->
	</div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->
