{% load i18n %}

<div id='help-wrapper'>
	<nav class="got-fixed">
	  <h4>
	    {% trans "Topics" %}
	  </h4>
	  <ul id="nav">
	    <li>
	      <a href="#/help/#intro">{% trans "About" %}</a>
	    </li>
	    <li>
	      <a href="#/help/#observers">{% trans "Observer's description" %}</a>
	    </li>
	    <li>
	      <a href="#/help/#organisators">{% trans "Organisator's description" %}</a>
	    </li>
	  </ul>
	</nav>
	<div class="article-wrappers" id="intro">
	  <h2>
	    {% trans "About" %}
	  </h2>
	  <article>
	    <p>
	    	{% trans "Eventprowl is a system for event control, which is made to suit both the needs of the organisators and the observers on each happening. It is meant to make it simple for one to take some event to publicity and meanwhile provide easy way to track the events that are currently started." %}
	    </p>
	    <p>
	    	{% trans "There is no specific event group, that is targeted, all kinds of happenings are suitable for exposal in the system." %}
	    </p>
	  </article>
	</div>
	<div class="article-wrappers" id="observers">
	  <h2>
	    {% trans "Observer's description" %}
	  </h2>
	  <article>
	    {% trans "The observer user type is simpler, it is supposed to serve basic user needs. The observers can like events, share them, put comments and so on. They can track certain organisators for new events or watch certain events for changes and get notified. If you need this platform only to keep in phase with the current happenings, then you should choose this role." %}
	  </article>
	</div>
	<div class="article-wrappers" id="organisators">
	  <h2>
	    {% trans "Organisator's description" %}
	  </h2>
	  <article>
	    {% trans "Well, the title of this role suggests its main activity - the organisation of events. If you want to start out new events and manage them, then this is the suitable role for you." %}
	  </article>
	</div>
</div>
