{% load i18n %}

<section id="login">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="form-wrap">
					<h1> {% trans "Type in your ceredentials" %}</h1>
					<form role="form" action="processed_partials/login" method="post" id="login-form" autocomplete="off">
						<div class="form-group">
							<label for="username" class="sr-only">{% trans "Username" %}</label>
							{{form.username}}
						</div>
						<div class="form-group">
							<label for="key" class="sr-only">{% trans "Password" %}</label>
							{{form.password}}
						</div>
						<div class="checkbox">
							<span class="character-checkbox" onclick="showPassword()"></span>
							<span class="label">{% trans "Show password" %}</span>
						</div>
						<input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="{% trans 'Log in' %}">
					</form>
					<!-- <a href="javascript:;" class="forget" data-toggle="modal" data-target=".forget-modal">{% trans "Forgot your password?" %}</a> -->
					<hr>
				</div>
			</div> <!-- /.col-xs-12 -->
		</div> <!-- /.row -->
	</div> <!-- /.container -->
</section>

<div class="modal fade forget-modal" tabindex="-1" role="dialog" aria-labelledby="myForgetModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">×</span>
					<span class="sr-only">{% trans "Close" %}</span>
				</button>
				<h4 class="modal-title">{% trans "Recovery password" %}</h4>
			</div>
			<div class="modal-body">
				<p>{% trans "Type your email account" %}</p>
				<input type="email" name="recovery-email" id="recovery-email" class="form-control" autocomplete="off">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
				<button type="button" class="btn btn-custom">{% trans "Recovery" %}</button>
			</div>
		</div> <!-- /.modal-content -->
	</div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->
