{% extends "base.html" %}

{% load i18n %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
	
	<header>
		<nav class="navbar-fixed-top" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->

			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">{% trans "Toggle navigation" %}</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand home-link-inactive" href="javascript:void(0)">eventprowl</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="javascript:void(0)" class="home-link">{% trans "Home" %}</a></li>
					<li><a href="javascript:void(0)" class="help-link">{% trans "Help" %}</a></li>

					<li class="dropdown" id="language-options">
						<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"> {% trans "Current langugage:" %} <span id="language"> </span> <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a id="bulgarian" href="javascript:void(0)">Български</a></li>
							<li class="divider"></li>
							<li><a id="english" href="javascript:void(0)">English</a></li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav search-wrapper hide">
					<li>
						<form class="navbar-form navbar-left main-search" role="search">
							<div class="form-group">
								<input id="search-input" type="text" class="form-control" placeholder="{% trans 'Search' %}"
									onkeyup="applySearchCriteria();">
							</div>
						</form>
					</li>
					<li class="dropdown" id="search-options">
						<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"> {% trans "Search by" %} <span id="search-filters">{% trans "Everything" %}</span> <b class="caret"></b></a>
						<ul id="search-filters-list" class="dropdown-menu">
							<li><a id="search-by-title" href="javascript:void(0)">{% trans "Title" %}</a></li>
							<li><a id="search-by-start_date" href="javascript:void(0)">{% trans "Start Date" %}</a></li>
							<li><a id="search-by-description" href="javascript:void(0)">{% trans "Description" %}</a></li>
							<li><a id="search-by-organisator" href="javascript:void(0)">{% trans "Organisator" %}</a></li>
							<li class="divider"></li>
							<li><a id="search-by-everything" href="javascript:void(0)">{% trans "Everything" %}</a></li>
						</ul>
					</li>
				</ul>
				<ul id="user-bound-links" class="nav navbar-nav navbar-right">
					<li><a href="javascript:void(0)" class="signup-link">{% trans "Sign up" %}</a></li>
					<li><a href="javascript:void(0)" class="login-link">{% trans "Log in" %}</a></li>
					<li><a href="javascript:void(0)" class="gallery-link hide">{% trans "Galleries" %}</a></li>
					<li><a href="javascript:void(0)" class="profile-link hide">{% trans "Profile" %}</a></li>
					<li><a href="javascript:void(0)" class="logout-link hide">{% trans "Log out" %}</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</nav>
	</header>

	<div id="main-messages-widget-container" ng-include="messagesWidgetUrl"></div>

	<div id="root" ng-view></div>
	
	<footer>
		{% trans "Copyright" %} &copy; kopiraitenavolia	
	</footer>
	
{% endblock %}
