{% load i18n %}

<div class="main-wrapper">
	<div class="page-header">
		<h1> {% trans "Latest events" %}</h1>
	</div>
	<div class="events-container" ng-include="eventsViewUrl" ng-controller="EventsViewController"></div>
</div>
