<div id="messages-list" ng-controller="ListMessages">
	<div ng-show="messages_list.length">
		<div
			ng-cloak
			class="ajaxmessage alert-box alert-{$ message.status $} alert"
			ng-repeat="message in messages_list">
			{$ message.text $}
			<a href="javascript:void(0);" ng-click="clearMessage(message);" class="close messages-close">&times;</a>
		</div>
	</div>
</div>
