{% load i18n %}

<div id="observer-profile-wrapper">
	<div class="page-header">
		<h2> <span id="user-name">{$ requestData.username $}</span></h2>
	</div>
	<p><strong>Email: </strong> </p>
	<div class="editable-input">{$ requestData.email $}</div>
	<div class="row">
		<div class="col-md-offset-2 col-md-8">
			<div class="panel panel-default">
				<div class="panel-heading text-center">
					<h3> {% trans "My observed events:" %} </h3>
				</div>
				<div class="panel-body events-container" ng-include="eventsViewUrl"></div>
			</div>
		</div>
	</div>
</div>
