{% load i18n %}

<div id="organisator-profile-wrapper">
	<div id="info-wrapper">
		<div class="row">
			<div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
				<div class="col-sm-12">
					<div class="col-xs-12 col-sm-8">
						<h2 id="user-name">{$ requestData.username $}</h2>

						<!-- <p><strong>{% trans "About" %}: </strong> </p> -->
						{{ request.user.custom.about }}
						<p><strong>Email: </strong> </p>
						{$ requestData.email $}
					</div>             
					<div class="col-xs-12 col-sm-4 text-center">
						<figure>
							<!-- <img src="http://www.localcrimenews.com/wp-content/uploads/2013/07/default-user-icon-profile.png" alt="" class="img-circle img-responsive"> -->
						</figure>
					</div>
				</div>            
				<div class="col-xs-12 divider text-center">
					<div class="col-xs-12 col-sm-4 emphasis">
						<h2><strong> {$ observersCount $} </strong></h2>                    
						<p><small>{% trans "Observers" %}</small></p>
					</div>
					<div class="col-xs-12 col-sm-4 emphasis">
						<h2 id="gallery-count-label" ><strong> {$ galleries.length $} </strong></h2>  
						<p><small>{% trans "Galleries" %}</small></p>
						<button class="btn btn-block gallery-creation-form-activator" data-toggle="modal" data-target=".add-gallery-modal">
							<span class="fa fa-plus-circle"></span> {% trans "Add gallery" %}
						</button>
					</div>
					<div class="col-xs-12 col-sm-4 emphasis">
						<h2><strong> {$ events.length $}</strong></h2>                    
						<p><small>{% trans "Events" %}</small></p>
						<button class="btn btn-block event-creation-form-activator" data-toggle="modal" data-target=".add-event-modal">
							<span class="fa fa-plus-circle"></span> {% trans "Add event" %}
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-offset-2 col-md-8">
			<div class="panel panel-default">
				<div class="panel-heading text-center">
					<h3> {% trans "My events" %}: </h3>
				</div>
				<div class="panel-body events-container" ng-include="eventsViewUrl" ng-controller="EventsViewController"></div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade add-event-modal" tabindex="-1" role="dialog" aria-labelledby="AddEventModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form class="form-horizontal" role="form" action="create_event/" method="post" id="event-creation-form" autocomplete="off">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">×</span>
						<span class="sr-only">{% trans "Close" %}</span>
					</button>
					<h4 class="modal-title">{% trans "Create event" %}</h4>
				</div>
				<div class="modal-body">
					<div id="event-creation-messages-widget-container"></div>
					<fieldset>
						<div class="form-group">
							<label class="col-md-4 control-label" for="">{% trans "Title" %}</label>  
							<div class="col-md-4">
								{{event_creation_form.title}}
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label" for="">{% trans "Description" %}</label>
								<div class="col-md-4">
								{{event_creation_form.description}}
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label" for="">{% trans "Start date" %}</label>  
							<div class="col-md-4">
								{{event_creation_form.start_date}}
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label" for="">{% trans "End Date" %}</label>  
							<div class="col-md-4">
								{{event_creation_form.end_date}}
							</div>
						</div>
					</fieldset>
				</div>
				<div class="modal-footer">
					<button id="close-modal" type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
					<input type="submit" class="btn btn-custom" value="{% trans 'Create' %}"></input>
				</div>
			</form>
		</div> <!-- /.modal-content -->
	</div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->

<div class="modal fade add-gallery-modal" tabindex="-1" role="dialog" aria-labelledby="Add Gallery" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">×</span>
					<span class="sr-only">{% trans "Close" %}</span>
				</button>
				<h4 class="modal-title"> {% trans "Add gallery" %} </h4>
			</div>
			<form role="form" method="post" id="gallery-creation-form" action="create_gallery/" autocomplete="off">
				<div class="modal-body">
					<div id="gallery-creation-messages-widget-container"></div>
					{{ gallery_creation_form }}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
					<input type="submit" class="btn btn-success" value="{% trans 'Create' %}"></input>
				</div>
			</form>
		</div> <!-- /.modal-content -->
	</div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->
