{% load i18n %}

<section id="login">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="form-wrap">
					<h1>{% trans "Enter your new ceredentials" %}</h1>
					<form role="form" action="processed_partials/signup" method="post" id="signup-form" autocomplete="off">
						<div class="form-group">
							<label for="username" class="sr-only">{% trans "User name" %}</label>
							{{form.username}}
						</div>
						<div class="form-group">
							<label for="email" class="sr-only">{% trans "Email" %}</label>
							{{form.email}}
						</div>
						<div class="form-group">
							<label for="key" class="sr-only">{% trans "Password" %}</label>
							{{form.password}}
						</div>
						<div class="checkbox">
							<span class="character-checkbox" onclick="showPassword()"></span>
							<span class="label">{% trans "Show password" %}</span>
						</div>
						<div class="form-group">
							<label for="type" class="sr-only">{% trans "User type" %}</label>
							<hr/>
							<h5> <b>{% trans "Select user type:" %}</b></h5>
							{{form.type}}
						</div>
						<input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="{% trans 'Sign up' %}">
					</form>
				</div>
			</div> <!-- /.col-xs-12 -->
		</div> <!-- /.row -->
	</div> <!-- /.container -->
</section>
